.invoice {
  margin-left: -16px;
  margin-right: -16px;
  
  &__basic {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px;
    padding: 20px 40px 36px 40px;
  }

  &__credit {
    padding: 36px 40px;
  }

  &__desc {
    padding: 36px 40px 20px 40px;
  }

  > div {
    &:not(:last-child) {
      border-bottom: 1px solid #dee2e6;
    }
  }
}