.FormasPago {
  
    .FormasPago__body {
      overflow-y: scroll;
      max-height: 248px;
      min-height: 248px;
      padding-right: 1em;
  
      &__row {
        display: grid;
        grid-template-columns: .3fr repeat(5, 1fr);
        grid-gap: 1em;
  
        &>.form-check {
          margin: auto;
          margin-top: -7px;
        }
      }
    }
  }
  