.Select {
  &.error {
    .select__indicator {
      color: red;
    }
    .select__control {
      border-color: red;
    }
    .select__indicator-separator {
      background-color: red;
    }
  }
}
