.bg-gradient {
    background: linear-gradient(270deg,#33e1d9,#5691c8)!important;
}
.monitor-head {
    height: 8vh!important;
}
.monitor-body-without-footer {
    height: 92vh!important;
    overflow-y: auto;    
}


.monitor-body {
    height: 83vh!important;
    overflow-y: auto;
}

.monitor-footer {
    height: 9vh!important;
}
